<!--copyright css start-->
<div class="gym copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="link-horizontal">
                    
                </div>
            </div>
            <div class="col-sm-6">
                <div>
                    <h6 class="copyright-text text-white text-right op-text">Copyright ©2020 unice by <i
                            class="fa fa-heart"
                            aria-hidden="true"></i>
                        Lotusopt</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- copyright css end-->
