<!-- Login section -->
<section class="login-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>Login</h3>
                <div class="theme-card">
                    <form class="theme-form" #f="ngForm" *ngIf="formResetToggle" novalidate name="loginForm" (ngSubmit)="f.form.valid ? login() :
                    (!email.valid && showErrorAlert('Email is required', 'Please enter a valid email'));
                    (!password.valid && showErrorAlert('Password is required', 'Please enter a valid password'))">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" autocomplete="off" id="login-email"
                                placeholder="Email" name="email" (focus)="focus=true" class="form-control"
                                (blur)="focus=false" [(ngModel)]="userLogin.email" #email="ngModel" required>
                            <span *ngIf="f.submitted" class="glyphicon form-control-feedback"
                                [ngClass]="{'glyphicon-ok ': email.valid, 'glyphicon-remove' : !email.valid}"
                                aria-hidden="true"></span>
                            <span class="errorMessage" *ngIf="f.submitted && !email.valid">
                                Email gerekli bişiy.
                            </span>
                        </div>
                        <div class="form-group">
                            <label for="review">Password</label>
                            <input type="password" class="form-control" autocomplete="off" required=""
                                id="login-password" name="password" placeholder="Parolanız" class="form-control"
                                [(ngModel)]="userLogin.password" #password="ngModel" required autocomplete="on">
                            <span *ngIf="f.submitted" class="glyphicon form-control-feedback"
                                [ngClass]="{'glyphicon-ok ': password.valid, 'glyphicon-remove' : !password.valid}"
                                aria-hidden="true"></span>
                            <span class="errorMessage" *ngIf="f.submitted && !password.valid">
                                Böyle parolasız felan geçebileceğini mi düşünmüştün gerçekten ???
                            </span>
                        </div>
                        <button type="submit" class="btn primary-btn btn-default radius-0" [disabled]="isLoading"><i *ngIf="isLoading"
                            class='fa fa-circle-o-notch fa-spin'></i>
                        {{isLoading ? 'Girişing...' : 'Giriş'}}</button>
                        <label><input type="checkbox" name="rememberMe" [(ngModel)]="userLogin.rememberMe" class="ml-5"> Beni anımsa</label>
                    </form>
                </div>
            </div>
            <!-- <div class="col-lg-6 right-login">
                <h3>New Customer</h3>
                <div class="theme-card authentication-right">
                    <h6 class="title-font">Create An Account</h6>
                    <p>Sign up for a free account at our store. Registration is quick and easy. It allows you to be able
                        to order from our shop. To start shopping click register.</p><a href="#"
                        class="btn primary-btn btn-default radius-0">Create
                        an Account</a>
                </div>
            </div> -->
        </div>
    </div>
</section>

<!-- end Login section -->
