/* FONT PATH
 * -------------------------- */

@font-face {
	font-family: 'themify';
	src:url('#{$ti-font-path}/themify.eot');
	src:url('#{$ti-font-path}/themify.eot') format('embedded-opentype'),
		url('#{$ti-font-path}/themify.woff') format('woff'),
		url('#{$ti-font-path}//themify.ttf') format('truetype'),
		url('#{$ti-font-path}/themify.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
