<section class="coming-soon coming-soon-2 p-0" [ngStyle]="{'background-image': 'url(assets/images/stndupmicro.jpeg)'}">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12 mt-1">
                <div class="center-container">
                    <div class="set-bg">
                        <div>
                            <!-- <img src="assets/images/logo/6.png" alt="" class="coming-logo"> -->
                        </div>
                        <h2 class="text-white our-web-text mt-2">SILENT STAND UP & SILENT DISCO</h2>
                        <button *ngIf="!successGotEmail" type="submit" (click)="gotoEvent()"
                            class=" btn btn-default primary-btn radius-0 no-border mt-5">
                            BİLET AL
                        </button>
                        <div class="set-count mt-3">
                            <div class="counters-content">
                                <div class="count">
                                    <div class="counter-container">
                                        <h2 class="text-white">
                                            <span name="days" class="days-text">{{days}}</span><span
                                                class="days gradient-text">gün</span>
                                        </h2>
                                    </div>
                                    <div class="set-border-left"></div>
                                    <div class="set-border-bottom"></div>
                                </div>
                            </div>
                            <div class="counters-content">
                                <div class="count">
                                    <div class="counter-container">
                                        <h2 class=" text-white">
                                            <span name="hours" class="days-text gradient-text">{{hours}}</span><span
                                                class="days gradient-text">saat
                                            </span>
                                        </h2>
                                    </div>
                                    <div class="set-border-left"></div>
                                    <div class="set-border-bottom"></div>
                                </div>
                            </div>
                            <div class="counters-content">
                                <div class="count">
                                    <div class="counter-container">
                                        <h2 class="text-white">
                                            <span name="minutes" class="days-text gradient-text">{{minutes}}</span><span
                                                class="days gradient-text"> dakika</span>
                                        </h2>
                                    </div>
                                    <div class="set-border-left"></div>
                                    <div class="set-border-bottom"></div>
                                </div>
                            </div>
                            <div class="counters-content">
                                <div class="count no-border">
                                    <div class="counter-container">
                                        <h2 class=" text-white">
                                            <span name="seconds" class="days-text gradient-text">{{seconds}}</span><span
                                                class="days gradient-text">saniye</span>
                                        </h2>
                                    </div>
                                    <div class="set-border-left"></div>
                                    <div class="set-border-bottom"></div>
                                </div>
                            </div>
                        </div>
                        <h6 style="color: bisque;" class="mt-5" >Şu geniş dünyaya sığmayan gönül, şimdi bir odaya kapandı kaldı. GELECEK
                            kapıları kırıyor ve kendini sokağa taşıyor!
                            Altında çimler, ruhunda rüzgar, kulağında
                            sesler... </h6>
                        <h6 style="color: bisque;" class="p-0"> GELECEK’in komedyenleri</h6>
                        <h6 style="color: bisque;" class="p-0">Ali Arıkan ve Volkan Bilir şakalarını sokakta
                            yapacak,
                            ardından Sinan Arslan dj setini senin için
                            çalacak.</h6>
                        <h6 style="color: bisque;">Silent Stand Up ve Silent Disco'yu
                            yaşamak için kulaklığını yanına al, telefonunu şarj et ve <a style="color: beige"
                                href="https://zoom.us/download">zoom uygulamasını</a> indir.</h6>
                        <h6 style="color: bisque;">Moda’da
                            bir parkta, uzaktan bakınca sessiz, içine girince gülüp dans edeceğiz. </h6>
                        <h6 class="mb-1" style="color: bisque;">GELECEK’in yerini
                            sana etkinlik günü vereceğiz.</h6>
                        <div class="mb-2 mt-1">
                            <div class="center-content">
                                <div class="form-group">
                                    <div class="d-flex">
                                        <input *ngIf="!successGotEmail" type="email" class="form-control radius-0"
                                            placeholder="Email Adresiniz" name="email" [(ngModel)]="emailAddressString">
                                        <div class="button-primary">
                                            <div *ngIf="successGotEmail" role="alert"
                                                class="alert alert-warning dark outline">Başarılı bir şekilde
                                                gönderilmiştir. Hadi hayırlısı anacım... </div>
                                            <button *ngIf="!successGotEmail" type="submit" (click)="sendEmailaddress()"
                                                class=" btn btn-default primary-btn radius-0 no-border">
                                                Haberdar et.
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="social m-t-20">
                            <div class="row">
                                <div class="col-md-6 m-auto">
                                    <mat-basic-audio-player [audioUrl]="msbapAudioUrl" [title]="msbapTitle"
                                        [autoPlay]="true" muted="muted" (trackEnded)="onEnded($event)"
                                        [displayTitle]="msbapDisplayTitle"
                                        [displayVolumeControls]="msbapDisplayVolumeControls"></mat-basic-audio-player>
                                </div>
                            </div>

                        </div>
                        <div class="social m-t-20">
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/gelecekevde">
                                        <i class="fa fa-facebook center-content" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/gelecek_evde/">
                                        <i class="fa fa-instagram center-content" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>